  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url("Pictures/background.jpg") top right;
    background-size: cover;
    position: relative;
  }
 
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
  }
 
  #hero h1 {
    font-weight: 700;
    margin: 0 0 10px 0;
    font-size: 70px;
    font-family: "Satisfy", serif;
  }
 
  #hero h2 {
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }
 
  .section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
  }
 
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
  }

  /*--------------------------------------------------------------
  # About Me
  --------------------------------------------------------------*/
  .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #3b434a;
    text-transform: uppercase;
  }
 
  .about .content ul {
    list-style: none;
    padding: 0;
  }
 
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
 
  .about .content ul strong {
    margin-right: 10px;
  }
 
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #ffb727;
    line-height: 0;
  }
 
  .about .image {
    background: url("Pictures/me.jpg") center center no-repeat;
    background-size: cover;
    min-height: 500px;
    border: 3px solid black; 
    box-shadow: 0 0 30px 10px rgba(106, 107, 107, 0.6);
  }
 
  /*--------------------------------------------------------------
  # My Resume
  --------------------------------------------------------------*/
  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3b434a;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #82909c;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffb727;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #eef0f2;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #82909c;
  }
 
  /*--------------------------------------------------------------
  # Contact Me
  --------------------------------------------------------------*/
  .contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
  }
 
  .contact .info-box i.bx {
    font-size: 24px;
    color: #ffb727;
    border-radius: 50%;
    padding: 15px;
    background: #fff6e4;
  }
 
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
 
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .contact .social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .contact .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #687683;
    line-height: 1;
    margin: 0 8px;
    padding: 14px;
    border-radius: 50px;
    border: 1px solid #dde1e4;
  }

  .contact .social-links a:hover {
    color: #fff;
    border-color: #ffb727;
    background: #ffb727;
  }

  .contact .email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 27px;
  }
 
  .contact .email-form input,
  .contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
 
  .contact .email-form input {
    padding: 10px 15px;
  }
 
  .contact .email-form textarea {
    padding: 12px 15px;
  }
 
  .contact .email-form button[type=submit] {
    background: #ffb727;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    border-radius: 5px;
    margin-top: 25px;
  }
  
  /*--------------------------------------------------------------
  # Other
  --------------------------------------------------------------*/

  a[href]:hover {
    text-decoration: underline; 
  }

  a[href] {
    color: black; 
    text-decoration: none; 
  }
  #print-container {
    text-align: center;
    height: 6vh;
  }
  
  #print {
    padding: 10px 24px;
    color: #000000;
    border-radius: 5px;
  }
    /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    z-index: 997;
    transition: all 0.5s;
    height: 80px;
    background: rgba(25, 28, 31, 0.8);
  }
  
  #header.header-transparent {
    background: transparent;
  }
  
  /*--------------------------------------------------------------
  # Navigation 
  --------------------------------------------------------------*/
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: #000000;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar li:hover>a {
    color: #ffb727;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    color: #3b434a;
    letter-spacing: 1px;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul li:hover>a {
    color: #ffb727;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
    
    